.header,nav{
  background-color:#FFFFFF;
  color:white;
}
.header{
  border-bottom: 1px solid rgba(119, 136, 153, 0.425);
}

@media only screen and (max-width: 768px) {
  .header{
      background-color: whitesmoke;
     
  }
  .nav{
    background-color: whitesmoke;
  }
 }